@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600;1,700&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    padding: 6rem 9%;
    margin-top: 7rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('image/back4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;

}
.heading span{
   color:#C0392B;
   text-transform: uppercase;

}

.btn{
    margin-top: 1rem;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #0B5345;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
    background: #C0392B;
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #0B5345;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;

}

.header .logo span{
    color: #C0392B;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: #C0392B;
}
.cake-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.dhaka .cake-row{
    max-width: 1300px;
    background: #F4D03F;
    height: 35rem;
    flex: 1 1 30rem;
    padding: 1.2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .2rem .5rem #C0392B;
}
.cake-row:hover{
    transform: translateX(-5rem);
    transition: .5s ease;
}
.cake-row .rate{
    width: 6rem;
    padding: .5rem .1rem;
    color: #C0392B;
    background: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}
.dhaka .title h1{
    color: #C0392B ;
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
}
.dhaka .title h1 span{
    color: #73C6B6 ;
}
.dhaka .cake-row img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.cake-row h2{
    font-size: 2.2rem;
    font-weight: 600;
}
.cake-row h3{
    font-size: 2rem;
    color: var(--clr2); 
    background:#DC7633 ;
}
section .title{
    padding: 3rem 5%;
}
section .end a{
    color: #D0ECE7;
}
section .end h1{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    
}
section .end a:hover{
    color: #239B56;
}
section .end h1:hover{
    transform: rotate(2deg);
    transition: 1s cubic-bezier(0.075,0.82,0.165,1);
    
}
section .end h1{
    padding: 3rem 5%;
}


